.search {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--white) !important;
  width: 270px;
  border-radius: 10px;
}
.search input {
  border-style: none;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
}
.search input:focus {
  border-style: none;
  outline: none;
}
.search i {
  color: var(--main-color);
  font-size: 19px;
  cursor: pointer;
}
.search i:last-child {
  background-color: var(--main-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: var(--white);
  border-radius: 10px;
}
